/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.theme {
    master-color: green;
    -fx-background-color: #ececec, rgba(0,0,0,0.01);
    -fx-font-size: 12px;


}


.Text
{
   -fx-font-size: 11px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
  font-weight: bold;
}


#text {
   -fx-font-size: 11px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;

}



.check-box:hover {
	-fx-color:  #ececec, rgba(10,0,0,0.01)

}
.check-box:armed .box {
    -fx-color:  #ececec, rgba(10,0,0,0.01);
    -fx-background-color: RGB(240, 75, 75), RGB(225, 75, 75);
    }

    .check-box:selected .box {
    -fx-background-color: RGB(225, 100, 100), RGB(225, 100, 100);
    -fx-effect: dropshadow( three-pass-box , rgba(233,0,0,0.6) , 5, 0.0 , 0 , 1 );

}
 .check-box .mark {

    -fx-background-color: transparent;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.433333em; /* 4 -- this is half the size of the mark */
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";

    }
.check-box:selected .mark {
    -fx-background-color:  transparent, transparent;
}





.check-box {
    -fx-text-fill: black;

    -fx-font-weight: bold;

}

.button {
    -fx-text-fill: black;

    -fx-font-weight: bold;

    -fx-effect: dropshadow( three-pass-box , rgba(233,0,0,0.6) , 5, 0.0 , 0 , 1 );
}



.button:hover {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.button:focused {
    -fx-color:  #ececec, rgba(0,0,0,0.01);
    -fx-background-color: RGB(73, 251, 53), RGB(73, 251, 53), -fx-inner-border, -fx-body-color;

    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}